<!DOCTYPE html>
<html ng-app="blog">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
	<title>R's Blog</title>
	<meta name="generator" content="Bootply" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
</head>

<!-- HTML code from Bootply.com editor -->

<body  >

	<div class="wrapper" >
		<div class="box">
			<div class="row">

				<!-- sidebar -->
				<div class="column col-sm-3 has-background" id="sidebar">
					<%= link_to 'R', root_path, :class => "logo", remote: true, id: "home_link" %>
					<ul class="nav">
						<li class="active"><a href="#featured">Featured</a>
						</li>
						<li><a href="#stories">Stories</a>
						</li>
					</ul>
					<div id="sidebar-footer">
						<div class="row-fluid">
							<div class="span3">
								<a href="https://twitter.com/RHdeAndrade" target="_blank"> <%= image_tag "twitter.png", :class => "social" %> </a>
							</div>
							<div class="span3">
								<a href="https://www.facebook.com/rhdeandrade" target="_blank"> <%= image_tag "fb.png" , :class => "social" %> </a>
							</div>
						
							<div class="span3">
								<a href="https://github.com/rhdeandrade" target="_blank"> <%= image_tag "github.png", :class => "social" %> </a>
							</div>
							<div class="span3">
								<a href="http://www.linkedin.com/profile/view?id=104428528" target="_blank"> <%= image_tag "linkedin.png", :class => "social" %> </a>
							</div>

						</div>
					</div>
				</div>
				<!-- /sidebar -->

				<!-- main -->
				<div class="column col-sm-9" id="main">
					<div class="padding">
						<div class="full col-sm-9">
							<div class="col-sm-12" id="featured" ng-view>
								<!-- Here the magic begins -->
							</div>
						</div>
					</div><!-- /padding -->
				</div>
			<!-- /main -->

			</div>
		</div>
	</div>


</body>
</html>
